.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
}

.navigation-item {
    all: unset;
    color: rgb(86, 162, 197);
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
}

.navigation-item:hover {
    color: rgb(33, 108, 143);
}
