.todo-wrapper {
    margin: 2rem auto;
    list-style-type: none;
    /* background-color: white; */
    width: fit-content;
    padding: 1.5rem;
    border: 1px solid white;
    border-radius: .5rem;
}

.todo-item-wrapper {
    display: flex;
}

.todo-item {
    text-align: left;
    background-color: rgb(233, 233, 233);
    margin: .5rem 0;
    border-radius: .2rem;
    padding: .2rem .5rem;
}

.todo-item:hover {
    background-color: antiquewhite;
    cursor: pointer;
}

.buttons-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.btn {
    padding: 0.2rem;
    margin-left: 0.5rem;
    border-radius: .5rem;
}

.complete-btn {
    background-color: rgb(68, 196, 68);
}

.complete-btn:hover {
    cursor: pointer;
    background-color: rgb(154, 252, 154);
}

.delete-btn {
    background-color: rgb(201, 84, 84);
}

.delete-btn:hover {
    cursor: pointer;
    background-color: rgb(250, 129, 129);
}

.todo-form {
    display: flex;
    flex-direction: column;
    width: 15rem;
    margin: 0 auto;
}

.todo-label {
    margin-bottom: .5rem;
    font-weight: bold;
}

.todo-input {
    padding: 0.2rem 0.5rem;
    border-radius: .5rem;
    border: none;
}