.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.buttons__container {
    display: flex;
    gap: 1rem;
}

.btn {
    padding: 0 .8rem;
    font-size: 1.5rem;
}