.home-wrapper {
    text-align: center;
}

.home-main-heading {
    font-size: 2.5rem;
    margin-top: 2rem;
    color: rgb(75, 70, 67);
    font-weight: 500;
}

.home-subheading {
    font-size: 1.5rem;
    margin-top: 1rem;
    color: rgb(129, 129, 129);
    font-weight: 400;
}

.nested-routing-nav {
    display: flex;
    margin: 2rem 0;
    justify-content: center;
    gap: 1rem;
}

.nested-btn {
    all: unset;
    background-color: rgb(60, 60, 238);
    padding: .5rem 1rem;
    border-radius: .5rem;
    cursor: pointer;

    &:hover {
        background-color: rgb(66, 66, 158);
    }
}